-- Check what will be deleted for Milano V3:89
SELECT 
    'combo_groups' as table_name,
    COUNT(*) as count 
FROM menuca_v3.combo_groups 
WHERE restaurant_id = 89
UNION ALL
SELECT 
    'combo_group_sections',
    COUNT(*) 
FROM menuca_v3.combo_group_sections cgs
JOIN menuca_v3.combo_groups cg ON cgs.combo_group_id = cg.id
WHERE cg.restaurant_id = 89
UNION ALL
SELECT 
    'combo_modifier_groups',
    COUNT(*) 
FROM menuca_v3.combo_modifier_groups cmg
JOIN menuca_v3.combo_group_sections cgs ON cmg.combo_group_section_id = cgs.id
JOIN menuca_v3.combo_groups cg ON cgs.combo_group_id = cg.id
WHERE cg.restaurant_id = 89
UNION ALL
SELECT 
    'combo_modifiers',
    COUNT(*) 
FROM menuca_v3.combo_modifiers cm
JOIN menuca_v3.combo_modifier_groups cmg ON cm.combo_modifier_group_id = cmg.id
JOIN menuca_v3.combo_group_sections cgs ON cmg.combo_group_section_id = cgs.id
JOIN menuca_v3.combo_groups cg ON cgs.combo_group_id = cg.id
WHERE cg.restaurant_id = 89
UNION ALL
SELECT 
    'combo_modifier_prices',
    COUNT(*) 
FROM menuca_v3.combo_modifier_prices cmp
JOIN menuca_v3.combo_modifiers cm ON cmp.combo_modifier_id = cm.id
JOIN menuca_v3.combo_modifier_groups cmg ON cm.combo_modifier_group_id = cmg.id
JOIN menuca_v3.combo_group_sections cgs ON cmg.combo_group_section_id = cgs.id
JOIN menuca_v3.combo_groups cg ON cgs.combo_group_id = cg.id
WHERE cg.restaurant_id = 89;

-- DELETE commands (wrapped in transaction for safety)
BEGIN;

-- Delete in reverse order (child tables first)
DELETE FROM menuca_v3.combo_modifier_prices
WHERE combo_modifier_id IN (
    SELECT cm.id FROM menuca_v3.combo_modifiers cm
    JOIN menuca_v3.combo_modifier_groups cmg ON cm.combo_modifier_group_id = cmg.id
    JOIN menuca_v3.combo_group_sections cgs ON cmg.combo_group_section_id = cgs.id
    JOIN menuca_v3.combo_groups cg ON cgs.combo_group_id = cg.id
    WHERE cg.restaurant_id = 89
);

DELETE FROM menuca_v3.combo_modifiers
WHERE combo_modifier_group_id IN (
    SELECT cmg.id FROM menuca_v3.combo_modifier_groups cmg
    JOIN menuca_v3.combo_group_sections cgs ON cmg.combo_group_section_id = cgs.id
    JOIN menuca_v3.combo_groups cg ON cgs.combo_group_id = cg.id
    WHERE cg.restaurant_id = 89
);

DELETE FROM menuca_v3.combo_modifier_groups
WHERE combo_group_section_id IN (
    SELECT cgs.id FROM menuca_v3.combo_group_sections cgs
    JOIN menuca_v3.combo_groups cg ON cgs.combo_group_id = cg.id
    WHERE cg.restaurant_id = 89
);

DELETE FROM menuca_v3.combo_group_sections
WHERE combo_group_id IN (
    SELECT id FROM menuca_v3.combo_groups
    WHERE restaurant_id = 89
);

DELETE FROM menuca_v3.combo_groups
WHERE restaurant_id = 89;

-- Review what was deleted, then:
-- COMMIT;   -- to save the changes
-- or
-- ROLLBACK; -- to undo if something went wrong

